# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Application secrets
application-prod.yml
application-secret.yml

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties